html {
  background-color: lightblue;
  background-image: url("https://fgbg.art/static/MarvelSuperHeroesVsStreetFighter-Manhattan-d3d302a414af0318227f1e8fc2659ea8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

body {
  text-shadow: 0 0 8px #ffffff;
  height: 0vh;
  color: white;
  background: linear-gradient(
    45deg,
    #08a0e9 25%,
    #e8f5fd 0,
    #e8f5fd 50%,
    #08a0e9 0,
    #08a0e9 75%,
    #e8f5fd 0
  );
  background-size: 80.4px 80.4px;
  background-attachment: fixed;
}

.office {
  justify-content: space-evenly;
  padding: 20px;
  border-style: inset;
  border: 11px solid #08a0e9;
  border-radius: 10px 10px 10px 10px;
  font: normal 10px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  column-count: auto;
  flex-wrap: wrap;
  color: white;
  background: transparent
    url(https://photojournal.jpl.nasa.gov/archive/PIA02831.gif);
  
  margin: 10%;
}
.font {
  column-count: 2;
  column-fill: balance-all;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 200px;
  margin: 10px;
  text-align: left;
  color: white;
  background: transparent
    url(https://raw.githubusercontent.com/ThakaRashard/thakarashard.github.io/master/assets/images/PrairieWind.png);
  background-size: tile;
  border-style: inset;
  border: 11px solid #08a0e9;
  border-radius: 10px 10px 10px 10px;
  border: 11px solid #08a0e9;
  border-radius: 1
  flex: 1;
  align-items: stretch;
  
}
.trebuchet {
  font: bold 10px/18px "Trebuchet MS";
  display: block;
  line-height: 1.2em;
  font-size: 150%;
}
.logo {font-size:650%;}
.bigcaslon {
  font: normal 10px/18px "Big Caslon";
  display: block;
  line-height: 1.2em;
  font-size: 150%;
}
.lucidaconsole {
  font: normal 10px/18px "Lucida Console";
  display: block;
  line-height: 1.2em;
  font-size: 150%;
}
.Tahoma {
  font: normal 10px/18px Tahoma;
  display: block;
  padding: 20px;
  font-size: 150%;
  letter-spacing: .1rem;
}
.arialnarrow {
  font: normal 10px/18px "Arial Narrow";
  display: block;
  padding: 20px;
  font-size: 150%;
  letter-spacing: .01rem;
}
.verdana {
  font: normal 10px/18px verdana;
  display: block;
  padding: 20px;
  font-size: 150%;
}
.arial {
  font: normal 10px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: block;
  padding: 20px;
  font-size: 150%;
}
.arialbold {
  font: bold 10px/18px Arial;
  display: block;
  padding: 20px;
  font-size: 150%;
}
.arialblack {
  font: normal 10px/18px Arial Black;
  display: block;
  padding: 20px;
  font-size: 150%;
}
.georgia {
  font: normal 10px/18px georgia;
  display: block;
  line-height: 1.1em;
  padding: 20px;
  font-size: 150%;
}
.Baskerville {
  font: normal 10px/18px Baskerville;
  display: block;
  padding: 20px;
  font-size: 150%;
}
.Courier {
  font: normal 10px/18px Courier;
  display: block;
  padding: 20px;
  font-size: 150%;
}